.tooltip-wrapper {
	position: absolute;
	top: 0;
	left: 15px;
	height: 100%;
	width: calc(100% - 30px);
	cursor: not-allowed;
}

/*evaluation/set*/
.form-container {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto; 
}

/*evaluation/view*/
.class-table th,
.class-table td {
	/*white-space: nowrap;*/
}

.class-table th:first-child,
.class-table td:first-child {
	text-align: right;
	width: 1px !important;
}

.class-table th:nth-child(2),
.class-table td:nth-child(2) {
	width: 200px;
}

.class-table th:nth-child(3),
.class-table td:nth-child(3) {
	width: 1px !important;
}

.class-table th:nth-child(4),
.class-table td:nth-child(4) {
	width: 200px;
}

.class-table th:nth-child(5),
.class-table td:nth-child(5) {
	width: 1px !important;
}

.class-table th:nth-child(6),
.class-table td:nth-child(6) {
	width: 250px;
}


/*confirm dialogs*/
.confirm-container,
.result-container {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.form-container.panel .panel-heading,
.form-container.panel .panel-footer,
.confirm-container.panel .panel-heading,
.confirm-container.panel .panel-footer,
.result-container .panel-heading,
.result-container .panel-footer {
	text-align: center;
}