/*evaluation/set*/
#set-eval-period-form,
#edit-eval-period-form,
.form-container {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto; 
}

/*evaluation/view*/
.class-eval-table th,
.class-eval-table td {
	/*white-space: nowrap;*/
}

.class-eval-table th:first-child,
.class-eval-table td:first-child {
	text-align: right;
	width: 50px;
}

.class-eval-table th:nth-child(2),
.class-eval-table td:nth-child(2) {
	width: 200px;
}

.class-eval-table th:nth-child(3),
.class-eval-table td:nth-child(3) {
	width: 70px;
}

.class-eval-table th:nth-child(4),
.class-eval-table td:nth-child(4) {
	width: 300px;
}

.class-eval-table th:nth-child(5),
.class-eval-table td:nth-child(5) {
	width: 80px;
}

.class-eval-table th:nth-child(6),
.class-eval-table td:nth-child(6) {
	width: 300px;
}


/*confirm dialogs*/
.confirm-container,
.result-container {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.confirm-container.panel .panel-heading,
.confirm-container.panel .panel-footer,
.result-container .panel-heading,
.result-container .panel-footer {
	text-align: center;
}