body {
	padding-bottom: 10px;
	background-color: #FFFFFF; //#f5f5f5
}
#main-header #up-seal {
	height: 80px;
	width: 80px;
}

#main-header #title {
	/*color: #7B1113; */
	margin: 0;
	margin-top: 17px; 
	font-family: Times; 
	/*font-size: 30px;*/
}

#main-header #home-link {
	text-decoration: none;
	color: black;
}

#main-header #subtitle {
	/*color: #335628;*/
	/*font-size: 14px;*/
	font-style: oblique;
}

#main-header #up-name {
	margin-top: 0; 
	font-family: Times; 
	/*color: #8E171A;*/
	/*font-size: 16px;*/
}

#main-content {
	margin-top: 50px;
}


/*homepage-student*/
#student-login-form-container {
	text-align: center;
}

#student-login-form #student-number {
	margin-bottom: -1px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#student-login-form #password {
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#student-login-form .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
}

/*homepage-user*/

#login-form .panel-title {
	text-align: center;
	/*font-weight: bold;*/
	font-size: 17.5px;
}