/*Default*/
#main-wrapper {
	min-height: 100%;
	width: 100%;
}

#main-wrapper.default #main-header {
	width: 100%;
	height: 50px;
}

#main-wrapper.default #main-content {
	width: 100%;
	margin: 0 auto;
	margin-top: -10px;
	overflow: hidden;
	min-height: 300px;
	/*text-align: center;*/
}

#main-wrapper.evaluation-form #main-content {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	min-height: 300px;
	/*text-align: center;*/
}