@media print{    
    .no-print, .no-print * {
        display: none !important;
    }
}

@page { 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 0.5cm 0.5cm 0.5cm 0.5cm;  
} 


body {
	font-family: monospace;
}

#code-container {
	width: 100%;
}

.buttons-container {
	margin-bottom: 10px;
}

table, tr {
	width: auto;
	border: 1px dashed black;
	border-collapse: collapse;
}

td, th {
	font-size: 12pt;
	padding: 8px;
	width: 50%;
	border: 1px dashed black;
}

th:first-child,
td:first-child {
	width: 50%;
}

th:nth-child(2),
td:nth-child(2), 
th:nth-child(3),
td:nth-child(3) {
	width: 25%;
}