* {
	box-sizing: border-box;
}
html {
	margin: 0px !important;
	margin-top: 18px !important;
}
/*report/generate*/
#report-container {
	margin-left: auto;
	margin-right: auto;
	/*width: 600px;*/
}

.page {
	font-size: 13pt;
	font-family: Times, Georgia;
	page-break-after: always;
	/*margin-bottom: 30px;*/
	/*border: 1px solid #E7E7E7;*/

	/*width: 203mm;*/
	/*height: 267mm;*/
	/*padding: 12.7mm;*/
	/*padding-top: 25.4mm;*/
	/*margin: 36px;*/
	/*margin-top: 18px;*/
}

.page:last-child {
	page-break-after: auto;
}

table {
	border: 1px solid #DDD;
	width: 100%;
	max-width: 100%;
	margin-bottom: 10px;
	background-color: transparent;
	border-spacing: 0px;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #DDD;
	padding: 8px;
	line-height: 1.4;
	vertical-align: top;
}

ol.unstyled,
ul.unstyled {
	list-style-type:none;
}

/*page-1 summary*/
#summary #header {
	text-align: center;
}

#summary #header #up-seal {
	margin: 10px;
}


#summary #title,
#summary #summary-content {
	margin-top: 50px;
}

#summary #summary-content .eval-report-table th,
#summary #summary-content .eval-report-table td {
	/*white-space: nowrap;*/
	width: 12.5%;
	vertical-align: text-bottom;
}

#summary #summary-content li {
	margin-bottom: 10px;
}

#summary #summary-content .l1 {
	width: 200px;
	display: inline-block;
}

#summary #summary-content .l1-value {
	width: 200px;
	/*display: table-cell;*/
}

#summary #summary-content .l2-list {
	list-style-type:upper-alpha;
}

#summary #summary-content .l2 {
	width: 200px;
	display: inline-block;
	/*display: table-cell;*/
}

#summary #summary-content .l2-value {
	width: 100px;
	/*display: table-cell;*/
}

#summary #summary-content .l3 {
	width: 200px;
	display: inline-block;
	/*display: table-cell;*/
}

#summary #summary-content .l3-value {
	width: 100px;
	/*display: table-cell;*/
}

/*detail*/

.detail .eval-report-table .progress {
	margin-bottom: 0px;
}

.detail .eval-report-table td {
	/*white-space: nowrap;*/
}

.detail .eval-report-table td:nth-child(2) {	
	width: 7%;
}

.detail .eval-report-table td:nth-child(3) {
	width: 22%;
}

.progress-table {
	margin: 0;
}

.progress-table tr {	
	height: 20px;
	background-color:#f5f5f5;
	border: none;
}

.progress-table td:first-child {
	padding: 0px;
	color:#fff;
	text-align:center;
	background-color:#428bca;
	border: none;
}

.progress-table td:last-child {
	width: 0px !important;
	border: none !important;
	padding: 0 !important;
}

.progress-table td[data-value="0"]{
	text-align: left;
	padding-left: 4px;
	width:100%;
	color:#777;
	background-color:#f5f5f5;
}

.progress {
	/*display: block;*/
	height:20px;
	/*width: 276px;*/
	margin-bottom:20px;
	overflow:hidden;
	background-color:#f5f5f5;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	/*display: inline-block;*/
}

.progress-bar {
	/*display: inline-block;*/
	/*float:left;*/
	width:0;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#428bca;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	/*display: inline-block;*/
}

.progress-bar[aria-valuenow="1"],.progress-bar[aria-valuenow="2"]{
	min-width:30px;
}

.progress-bar[aria-valuenow="0"]{
	min-width:30px;
	color:#777;
	background-color:transparent;
	background-image:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}


/*comments*/

.comments li {
	margin-bottom: 15px;
	word-wrap: break-word;
}

/*evaluation forms*/
.eval-form-page {
	font-size: 10pt;
	/*line-height: 8px;*/
	font-family: Times, Georgia;
	page-break-after: always;
	line-height: 1;
	margin: 0px;
}

.eval-form-page:last-child {
	page-break-after: auto;
}

.evaluation-forms .evaluation-form {
	display: inline-block;
	width: 49%;

	border-right: 1px solid black;

	padding: 5px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	vertical-align: top;
	height: 1280px;
	/*width: 395px;*/
}

.evaluation-forms .evaluation-form:nth-child(even) {
	border-right: none;
}

.evaluation-forms .evaluation-form ol {
	margin-bottom: 5px;
}

.evaluation-forms .evaluation-form li {
	margin-bottom: 5px;
}

.evaluation-forms .evaluation-form .title {
	text-align: center;
}

.evaluation-forms .evaluation-form .header .eval-form-label {
	font-weight: bold;
	width: 120px;
	display: inline-block;
}

.evaluation-forms .evaluation-form .header .eval-form-value {
	border-bottom: 1px solid black;	
	width: 250px;
	padding-left: 5px;
	padding-bottom: 3px;
	display: inline-block;
}

.evaluation-forms .evaluation-form .content {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.evaluation-forms .evaluation-form .content .eval-form-table {
	margin-bottom: 0px;
	border: none;
}

.evaluation-forms .evaluation-form .content .eval-form-table td,
.evaluation-forms .evaluation-form .content .eval-form-table th {
	border: 1px solid black;
	text-align: center;
	padding: 1px;
	width: 16.66666667%;
	height: 15px;
	vertical-align: middle;
}

.evaluation-forms .evaluation-form .content .eval-form-table td.check-td {
	font-family: 'dejavu sans';
	line-height: 8px;
}

.evaluation-forms .evaluation-form .content .eval-form-table td.no-border,
.evaluation-forms .evaluation-form .content .eval-form-table th.no-border {
	border: none;
	text-align: right;
	padding-right: 5px;
}

.evaluation-forms .evaluation-form .content .eval-form-table th.no-border {
	padding-right: 15px;
}

.evaluation-forms .evaluation-form .content .comments .contents ol {
	width: 100%;
}
.evaluation-forms .evaluation-form .content .part3 {
	margin-left: 23px;
}
.evaluation-forms .evaluation-form .content .comments .contents label {
	display: block;
}

.evaluation-forms .evaluation-form .content .comments .contents span {
	display: block;
	border-bottom: 1px solid black;
	font-weight: normal;
	margin-top: 2px;
	padding: 3px;

	max-height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
}