/*yearsem/view*/
.yearsem-table {
	white-space: nowrap;
}

.yearsem-table td:nth-child(1),
.yearsem-table td:nth-child(2),
.yearsem-table td:nth-child(3) {
	width: 100px !important;
}

.yearsem-table td:nth-child(5) {
	width: 150px !important;
}

.yearsem-table td:nth-child(6) {
	width: 1px !important;
}

.yearsem-table td:nth-child(4) {
	text-align: center;
	width: 75px !important;
}

/*office/view*/
.office-table td:first-child,
.office-table th:first-child {
	text-align: right;
	width: 1px !important;
}

/*admin/view*/
.admin-table th:first-child,
.admin-table td:first-child {
	text-align: right;
	width: 1px !important;
}

/*admin/add*/
